<h1>About this</h1>


<p>Created and designed by <a href="http://www.smackfu.com">Scott McIntyre</a> (<%= link_to 'smackfu', :controller=>'user', :action=>'show', :id=>1 %>).</p>

<p>
New feature history:
<ul>
<li>Much improved photo support (Mar 8)
<li>Per-user RSS feeds (Mar 5)
<li>"Remember me?" for logins (Mar 4)
<li>Alternate color schemes (Mar 4)
<li>Day notes (Mar 3)
</ul>
</p>

<p>For detailed updates, please check out the <a href="http://travlist.blogspot.com/">development blog</a></p>
<p><%= link_to 'Bugs and suggestions', :controller=>'issue', :action=>'new' %></p>

<%= render_partial 'style' %>

<h3>Thanks:</h3>
<p>Icons by <a href="http://www.graphicpush.com/index.php?s=icons">GraphicPUSH</a> and <a href="http://www.famfamfam.com/lab/icons/flags/">FAMFAMFAM</a>.</p>

<p><b>Note</b>: This site may look a bit off in Internet Explorer.  Sorry, I don't use it regularly and it has a lot of bugs.  The basic functionality should be working, at least. On the other hand, Safari and Firefox should be perfect.</p>
<p>
<script type="text/javascript"><!--
google_ad_client = "pub-3126069067949011";
google_ad_width = 180;
google_ad_height = 60;
google_ad_format = "180x60_as_rimg";
google_cpa_choice = "CAAQyaj8zwEaCIwcWMzeycafKMu293M";
//--></script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</p>

<!--Creative Commons License--><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/"><img alt="Creative Commons License" border="0" src="http://creativecommons.org/images/public/somerights20.png"/></a>

<!--/Creative Commons License--><!-- <rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                <Work rdf:about="">
                        <license rdf:resource="http://creativecommons.org/licenses/by-nc-sa/2.5/" />
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/Text" />
                </Work>
                <License rdf:about="http://creativecommons.org/licenses/by-nc-sa/2.5/"><permits rdf:resource="http://web.resource.org/cc/Reproduction"/><permits rdf:resource="http://web.resource.org/cc/Distribution"/><requires rdf:resource="http://web.resource.org/cc/Notice"/><requires rdf:resource="http://web.resource.org/cc/Attribution"/><prohibits rdf:resource="http://web.resource.org/cc/CommercialUse"/><permits rdf:resource="http://web.resource.org/cc/DerivativeWorks"/><requires rdf:resource="http://web.resource.org/cc/ShareAlike"/></License></rdf:RDF> -->

