<h1>New place name</h1>

<p>You entered a place name that hasn't been used before.  Not a problem!</p>

<p>Please enter the country and any of the optional info that you desire.</p>

<%= start_form_tag :action => 'update', :id => @place %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

